/* Reset de Estilos Padrão */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0074d9;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Estilos para o modo de alto contraste */
body.alto-contraste {
  background-color: #fff;
  color: #000;
}

body.alto-contraste header {
  background-color: #000;
  color: #fff;
}

body.alto-contraste nav ul li a {
  color: #fff;
}

/* Estilos para links no modo de alto contraste */
body.alto-contraste a {
  color: #0074d9;
}

/* Estilos para o footer */
footer {
  text-align: center;
  background-color: #333333;
  color: #fff;
  padding: 10px 0;
}

/* Estilo para destacar a seção "Operável" */
.destacar-operavel {
  color: #ffffff;
  background-color: #515151;
  padding: 10px;
  border-radius: 20px;
}

/* Estilo base para todos os botões */
button {
  background-color: #ffc107;
  color: #000;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: azure;
}


/* Estilo para o botão de destacar operável */
#botaoOperavel {
  background-color:  #0074d9;
  color: #fff;
}

#botaoOperavel:hover {
  background-color:#0088fe;
}

.small-text {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}